RewriteEngine On
RewriteBase /travelnotes/

# Если файл или папка существуют, не перенаправлять
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Перенаправить всё на index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]